body {
  background: url("/assets/img/casa\ encantada\ en\ colina2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

 img {
    animation-duration: 10s;
    animation-name: slidein;
    width: 25%;
    height: 25%;
    margin-left: 0%;
    margin-top: 30%;
  }
  
  @keyframes slidein {
    from {
      /*margin-right: 80%;
      margin-bottom: 50%;
      width: 20%*/
      margin-left: 0%;
      margin-top: 30%;
    }
  
    to {
      /*margin-right: 0%;
      margin-top: 30%;
      width: 20%;*/
      margin-left: 70%;
      margin-top: 20%;
    }
  }
  
.logo {
  text-align: center;
  width: 30%;
  height: 80px;
  margin: auto;
  position: absolute;
  top: 0;
  left: -500px;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b{
  font-family: 'Creepster', cursive;
  font-size: 50px;
  font: 400 10vh;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}